.plg_table {
 --mother_:lightgray;
 --mother_001:#90EE90;
 --daughterOf_001:#90EE90;
 --mother_002:#ADD8E6;
 --daughterOf_002:#ADD8E6;
 --mother_003:#FFD700;
 --daughterOf_003:#FFD700;
 --mother_004:#FF6347;
 --daughterOf_004:#FF6347;
 --mother_005:#6856ba;
 --daughterOf_005:#6856ba;
 --mother_006:#e66043;
 --daughterOf_006:#e66043;
 --mother_007:#23f74a;
 --daughterOf_007:#23f74a;
 --mother_008:#069420;
 --daughterOf_008:#069420;
 --mother_009:#543dba;
 --daughterOf_009:#543dba;
 --mother_010:#2102ad;
 --daughterOf_010:#2102ad;
 --mother_011:#2f7a3c;
 --daughterOf_011:#2f7a3c;
 --mother_012:#ff6f4f;
 --daughterOf_012:#ff6f4f;
 --mother_013:#065c16;
 --daughterOf_013:#065c16;
 --mother_014:#26913a;
 --daughterOf_014:#26913a;
 --mother_015:#90EE90;
 --daughterOf_015:#90EE90;
 --mother_016:#ADD8E6;
 --daughterOf_016:#ADD8E6;
 --mother_017:#FFD700;
 --daughterOf_017:#FFD700;
 --mother_018:#FF6347;
 --daughterOf_018:#FF6347;
 --mother_019:#6856ba;
 --daughterOf_019:#6856ba;
 --mother_020:#e66043;
 --daughterOf_020:#e66043;
 --mother_021:#23f74a;
 --daughterOf_021:#23f74a;
 --mother_022:#069420;
 --daughterOf_022:#069420;
 --mother_023:#543dba;
 --daughterOf_023:#543dba;
 --mother_024:#2102ad;
 --daughterOf_024:#2102ad;
 --mother_025:#2f7a3c;
 --daughterOf_025:#2f7a3c;
 --mother_026:#ff6f4f;
 --daughterOf_026:#ff6f4f;
 --mother_027:#065c16;
 --daughterOf_027:#065c16;
 --mother_028:#26913a;
 --daughterOf_028:#26913a;
 --mother_029:#90EE90;
 --daughterOf_029:#90EE90;
 --mother_030:#ADD8E6;
 --daughterOf_030:#ADD8E6;
 --mother_031:#FFD700;
 --daughterOf_031:#FFD700;
 --mother_032:#FF6347;
 --daughterOf_032:#FF6347;
 --mother_033:#6856ba;
 --daughterOf_033:#6856ba;
 --mother_034:#e66043;
 --daughterOf_034:#e66043;
 --mother_035:#23f74a;
 --daughterOf_035:#23f74a;
 --mother_036:#069420;
 --daughterOf_036:#069420;
 --mother_037:#543dba;
 --daughterOf_037:#543dba;
 --mother_038:#2102ad;
 --daughterOf_038:#2102ad;
 --mother_039:#2f7a3c;
 --daughterOf_039:#2f7a3c;
 --mother_040:#ff6f4f;
 --daughterOf_040:#ff6f4f;
 --mother_041:#065c16;
 --daughterOf_041:#065c16;
 --mother_042:#26913a;
 --daughterOf_042:#26913a;
	display:table;
	border-spacing:0.15em 2px;
	width:auto;
}
.plg_table label {display:table-row;}
.plg_table label>* {display:table-cell;width:max-content;}
.plg_table label b:last-of-type {text-align:center;}
.plg_table label.caption{display:table-caption;text-indent:1em;}
select.not-active{cursor: not-allowed;}
select.not-active:hover:before {content:'mere ou fille, pas les deux!';position:absolute;}

/* config.css */
.col-2 {
	display:grid;
	grid-template-columns:repeat(2, 40%);
	grid-auto-flow:row dense;
	grid-gap:1em;
	justify-content:center;
	background:linear-gradient(to right,transparent 10% , lightgray 10% 50%,black, lightblue 50.2% 90%, transparent 90%);
	overflow:auto;
	height:100%;
	padding:1em;
}
.col-2 strong b {
	color:crimson;
}
.col-2 i {
	font-size:0.75em;
}
.col-2 p {
	padding:0 2rem ;
	text-indent:2ch;
	margin:0;
}
.col-2 h1,.col-2 h2,.col-2 h3 {
	width:max-content;
	max-width:90%;
	border-bottom:solid 1px;
	padding-right:.5em;
	margin:0 auto;
	text-transform:uppercase
}
.col-2 >* {
	grid-column:1;
}
.col-2 > .b2 ,.col-2 > h1 ~ h1 ~ *  {
	grid-column:2;
	
}
.col-2 pre {
	display:block;
	max-width:90%;
	overflow:auto;
	margin:0 auto 0.25em auto;
	padding:0.25em;
	background:white;
}
.col-2 code {
	background:white;
}
.p-1 {
	padding:1em;
	background:rgba(255,255,255,.5);
}
.m-auto{
	margin:auto;
	}
.col-2 .c2 {
	grid-column:span 2;
	}