[data-mother="1"],[data-mother="0"][data-daughter="000"] { font-weight:bold; max-width:max-content;  margin:0.25ch 0;}
li[data-mother="1"].active  { background:#EE9B00;font-size:1.2em;}
li{border-radius:5px;}
[data-mother="0"][data-daughter="000"]{  margin-block:1em;}
[data-mother="0"] {margin:0 0 2px 2ch;max-width:max-content;}
.menu.breadcrumb.repertory a {width:auto;}


/* experimental 
ul.cat-list{
  margin-bottom: 1em
}
.cat-list li:first-of-type ~li{
  overflow:hidden;
  max-height:0;
  opacity:0;
  margin:0;
  transition: 0.5s 10s;/* un delai long avant fermeture */
  /*
}
.cat-list:hover li:first-of-type ~li{
  max-height:3.6em;
  opacity:1;
  transition:0.5s;
}*/


.menu.cat-list  li {
  display:block;
  margin:0
}
.menu.cat-list > li span::before {
  content: "\25bc";
  padding-right: 0.5rem;
  display:inline-block;
  transform: rotate(-90deg);
  vertical-align: top;
  line-height:  1.2;
  color:orange ;
  transition:0.25s transform
}
.menu.cat-list > li:hover span::before {
  transform: rotate(0deg);  
  line-height:1.6
}
.menu.cat-list ul {
  position:static;
}