[data-mother="1"],[data-mother="0"][data-daughter="000"] { font-weight:bold; max-width:max-content;  margin:0.25ch 0;}
li[data-mother="1"].active  { background:#EE9B00;font-size:1.2em;}
li{border-radius:5px;}
[data-mother="0"][data-daughter="000"]{  margin-block:1em;}
[data-mother="0"] {margin:0 0 2px 2ch;max-width:max-content;}
.menu.breadcrumb.repertory a {width:auto;}
